:root {
  --bg: #0b1220;
  --sidebar: #020617;
  --card: #111827;

  --primary: #6366f1;
  --primary-hover: #4f46e5;

  --text: #e5e7eb;
  --muted: #9ca3af;

  --border: #1f2937;

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  --radius: 12px;
}